.navbar
  .container
    .header-nav-left
      .header-logo
        h3.logo-header: a(href="/#/") Lesson Portal
    .header-nav-right
      .header-links
        ul(class="list-inline")
          li: a(href="/#/lessons") Lessons
          li: a(href="/#/account") Account
          li: a(href="/#/logout") Logout
