.navbar
  .container
    .header-nav-left
      .header-logo
        h3.logo-header: a(href="/#/") <i class="fa fa-ellipsis-v"></i> TeacherTracker
    .header-nav-right
      .header-links
        ul(class="list-inline")
          li: a(href="/#/" class="headerItem" ng-show="auth") Students
          //- li: a(href="/#/account" class="headerItem" ng-show="auth") Account
          li: a(href="/#/logout" class="headerItem-button" ng-show="auth") Logout
          li: a(href="/#/login" class="headerItem-button" ng-hide="auth") Login
