doctype html
html(lang="en-US")
  head
    meta(charset="utf-8")
    meta(http-equiv="X-UA-Compatible", content="IE=edge")
    meta(name="viewport", content="width=device-width, initial-scale=1")
    title TeacherTracker
    //- link(rel="stylesheet" href="lib/build.css")
    link(rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css")
    link(rel="stylesheet" href="main.css")
    link(rel="stylesheet" href="//maxcdn.bootstrapcdn.com/font-awesome/4.3.0/css/font-awesome.min.css")
    //- Fonts
    link(href='https://fonts.googleapis.com/css?family=Roboto:500' rel='stylesheet' type='text/css')
    link(href='https://fonts.googleapis.com/css?family=Source+Sans+Pro' rel='stylesheet' type='text/css')
    link(href='https://fonts.googleapis.com/css?family=Oswald' rel='stylesheet' type='text/css')
    link(href='https://fonts.googleapis.com/css?family=Bitter:700,400' rel='stylesheet' type='text/css')

  body(ng-app="lessonPortal")
    include partials/header

    .content
      .app(ng-view)

    include partials/footer

    script(src="lib/build.js")

    script(src="static/main.module.js")
    script(src="static/main.run.js")

    //- script(src="assets/main.constants.js")

    script(src="static/main.filters.js")
    script(src="static/static.config.js")

    script(src="assets/auth.factory.js")

    //- Auth Controllers
    script(src="assets/lesson.controller.js")
    script(src="assets/login.controller.js")
    script(src="assets/logout.controller.js")
    script(src="assets/register.controller.js")
    script(src="assets/teacher.controller.js")

