.footer {
  padding: 25px;
  background-color: #e0e0e0;
  font-size: 1em;
  bottom: 0;
  position: absolute;
  display: block;
  width: 100%;
  display: none;
}

.login-box {
    border: 1px solid #dedede;
    background-color: #ffffff;
    margin-left: 15px;
    margin-right: 15px;
    width: 40%;
    padding: 20px 20px 40px 40px;
}


// Header Styles

.navbar {
  background-color: #1FA4FB;
  border-radius: 0px;
  border-bottom: 1px solid #0191EF;
  a {
    color: #ffffff;
  }
  a:hover {
    text-decoration: none;
    color: #beddff;
  }
}

.logo-header {
  font-family: 'Oswald';
  margin-top: 23px;
}

.header-links {
  font-family: 'Roboto';
  text-transform: uppercase;
  margin-top: 26px;
  margin-bottom: 30px;
}

.header-nav-right {
  display: block;
  float: right;
}

.header-nav-left {
  display: block;
  float: left;
}

// Font Styles
h1, h2, h3, h4, h5 {
  font-family: 'Roboto';
}

p {
  font-family: 'Source Sans Pro';
  font-size: 1.7rem;
  color: #808080;
}

// Buttons
.main-btn {
  color: #FFF;
  background-color: #FF5E00;
  border: none;
  border-radius: 0px;
  font-family: 'Roboto';
  text-transform: uppercase;
  padding: 10px 19px 10px 19px;
}

.main-btn:hover {
    color: #ffffff;
    background-color: #ff8137;
}

.sec-btn {
  color: #FFF;
  background-color: #c5c5c5;
  border: none;
  border-radius: 0px;
  font-family: 'Roboto';
  text-transform: uppercase;
  padding: 10px 19px 10px 19px;
}

.sec-btn:hover {
  color: #ffffff;
  background-color: #d5d5d5;
}

.delete-student {
  color: #d9534f;
  background-color: #fff;
  border: 1px solid #d9534f;
  border-radius: 15px;
  padding: 3px 8px 4px 8px;
  display: block;
  float: right;
  margin-top: -43px;
  margin-right: 15px;
}

// Teacher Homepage
.add-student-section {
  border: 1px solid #dedede;
  padding: 35px;
  background-color: #f0f0f0;
  h3 {
    margin-top: 0px;
  }
  .main-btn {
    margin-top: 12px;
  }
}

.student-header {
  margin-bottom: 0px;
}

.teacher-nametag {
  background-color: #f0f0f0;
  border-bottom: 1px solid #dedede;
  margin-top: -20px;
  .hero-section {
    margin-top: -2px;
    margin-bottom: 17px;
  }
}

.student-individual {
  p {
    font-size: 1.5rem;
  }
}

.teacher-background {
  margin-top: 20px;
}

.list-header {
  border-bottom: 3px solid #dedede;
  padding-bottom: 6px;
  margin-bottom: 17px;
}

.left-side {
  padding-right: 50px;
}

// Login Styles
.register-cta {
  margin-top: 35px;
}

.register-link {
  color: #3d97d2;
  margin-left: 10px;
}

.register-buttons {
  margin-top: 25px;
}


// Register page styles
.register-icon {
  display: block;
}

.register-text {
  display: block;
}

.register-list {
  margin-top: 25px;
}

.register-exp {
  p {
    width: 72%;
  }
}

.register-box {
  margin-top: 28px;
  border: 1px solid #dedede;
  padding: 35px;
  background-color: #f0f0f0;
  h2 {
    margin-top: 0px;
  }
  .main-btn, .sec-btn {
    margin-top: 12px;
    margin-right: 15px;
  }
}

// Lesson Page Styles

.left-side {
  padding-left: 0px;
}

.lesson-list-bkg {
  background-color: #f0f0f0;
  margin-top: -22px;
  border-bottom: 1px solid #dedede;
}

// .add-lesson-bkg {
//   background-color: #f0f0f0;
//   border-bottom: 1px solid #dedede;
// }

.add-lesson-section {
  // border-top: 1px solid #dedede;
  // border-bottom: 1px solid #dedede;
  padding-bottom: 31px;
  padding-left: 0px;
  margin-bottom: 15px;
  .date {
    max-width: 35%;
  }
  .notes {
    height: 140px;
    width: 75%
  }
}

.lesson-list {
  margin-top: 20px;
  padding-left: 0px;
  .delete-student {
    margin-top: -34px;
  }
}
