.footer {
  padding: 25px;
  background-color: #ffffff;
  font-size: 1em;
  bottom: 0;
  // position: absolute;
  display: block;
  width: 100%;
  margin-top: 50px;
}

.footer-content {
  border-top: 1px solid #dedede;
  padding-top: 15px;
}

.login-box {
    border: 1px solid #dedede;
    background-color: #ffffff;
    margin-left: 15px;
    margin-right: 15px;
    width: 40%;
    padding: 20px 20px 40px 40px;
}


// Header Styles

.navbar {
  background-color: #1FA4FB;
  border-radius: 0px;
  border-bottom: 1px solid #0191EF;
  a {
    color: #ffffff;
  }
  a:hover {
    text-decoration: none;
    color: #beddff;
  }
}

.logo-header {
  font-family: 'Bitter';
  font-weight: 700;
  margin-top: 23px;
}

.header-links {
  font-family: 'Roboto';
  text-transform: uppercase;
  margin-top: 26px;
  margin-bottom: 30px;
}

.header-nav-right {
  display: block;
  float: right;
}

.header-nav-left {
  display: block;
  float: left;
}

.headerItem {
  margin-left: 25px;
}

.headerItem-button {
  border: 1px solid #ffffff;
  padding: 4px 12px 4px 12px;
}

.headerItem-button:hover {
  border: 1px solid #beddff;
}

// Font Styles
h1, h2, h3, h4, h5 {
  font-family: 'Roboto';
}

.header-light {
  color: #ffffff;
  line-height: 50px
}

p {
  font-family: 'Source Sans Pro';
  font-size: 1.7rem;
  color: #808080;
}

// Global
.form-control {
  border-radius: 0px;
}

// Buttons
.main-btn {
  color: #FFF;
  background-color: #FF5E00;
  border: none;
  border-radius: 0px;
  font-family: 'Roboto';
  text-transform: uppercase;
  padding: 10px 19px 10px 19px;
}

.hero {
  font-size: 1.7rem;
  padding: 14px 25px 14px 25px;
  margin-top: 12px;
}

.main-btn:hover {
    color: #ffffff;
    background-color: #ff8137;
}

.sec-btn {
  color: #FFF;
  background-color: #c5c5c5;
  border: none;
  border-radius: 0px;
  font-family: 'Roboto';
  text-transform: uppercase;
  padding: 10px 19px 10px 19px;
}

.sec-btn:hover {
  color: #ffffff;
  background-color: #d5d5d5;
}

.delete-student {
  color: #d9534f;
  background-color: #fff;
  border: 1px solid #d9534f;
  border-radius: 15px;
  padding: 3px 8px 4px 8px;
  display: block;
  float: right;
  margin-top: -43px;
  margin-right: 15px;
}

.close-div {
  color: #1FA4FB;
  background-color: #fff;
  border: 1px solid #1fa4fb;
  border-radius: 15px;
  padding: 3px 8px 4px 8px;
  display: block;
  float: right;
  margin-top: -43px;
  margin-right: 15px;
}

// Teacher Homepage
.add-student-section {
  border: 1px solid #dedede;
  padding: 35px;
  background-color: #f0f0f0;
  h3 {
    margin-top: 0px;
  }
  .main-btn {
    margin-top: 12px;
  }
}

.student-header {
  margin-bottom: 0px;
}

.teacher-nametag {
  background-color: #f0f0f0;
  border-bottom: 1px solid #dedede;
  margin-top: -20px;
  color: #1FA4FB;
  .hero-section {
    margin-top: 8px;
    margin-bottom: 12px;
  }
}

.student-individual {
  p {
    font-size: 1.7rem;
    width: 85%;
  }
}

.teacher-background {
  margin-top: 20px;
}

.list-header {
  border-bottom: 3px solid #dedede;
  padding-bottom: 6px;
  margin-bottom: 17px;
}

.left-side {
  padding-right: 50px;
}

// Login Styles
.register-cta {
  margin-top: 35px;
}

.register-link {
  color: #3d97d2;
  margin-left: 10px;
}

.register-buttons {
  margin-top: 25px;
}


// Register page styles
.register-icon {
  display: block;
}

.register-text {
  display: block;
}

.register-list {
  margin-top: 25px;
}

.register-exp {
  padding-top: 45px;
  margin-bottom: 25px;
  p {
    width: 88%;
  }
}

.hero-text {
  width: 49%;
  text-align: left;
  padding: 0px 5px 0 75px;
}

.bullet {
  padding-top: 18px;
}

.register-background {
  i {
    padding-right: 10px;
    color: #1fa4fb;
    font-size: 2.3rem;
    border: 2px solid #B1E0FF;
    background-color: #FFFFFF;
    border-radius: 50px;
    text-align: center;
    padding: 15px 16px 15px 16px;
    margin-right: 13px;
  }
}



.subheader-light {
  font-size: 2rem;
  color: #ffffff;
}

.register-hero {
  background: url("http://i57.tinypic.com/2qm0n15.jpg") no-repeat;
  // background: url("http://i59.tinypic.com/2q9dpic.jpg") no-repeat;
  background-size: cover;
  margin-top: -22px;
  padding: 130px 50px 150px 50px;
  background-position: 0px;
}

.register-box {
  margin-top: 28px;
  // border: 1px solid #dedede;
  // border-left: 1px solid #dedede;
  padding: 35px 35px 35px 70px;
  // background-color: #f0f0f0;
  h2 {
    margin-top: 0px;
  }
  .main-btn, .sec-btn {
    margin-top: 12px;
    margin-right: 15px;
  }
}

// Lesson Page Styles

.left-side {
  padding-left: 0px;
}

.lesson-list-bkg {
  background-color: #f0f0f0;
  margin-top: -22px;
  border-bottom: 1px solid #dedede;
}

// .add-lesson-bkg {
//   background-color: #f0f0f0;
//   border-bottom: 1px solid #dedede;
// }

.add-lesson-section {
  // border-top: 1px solid #dedede;
  // border-bottom: 1px solid #dedede;
  padding-bottom: 20px;
  padding-left: 0px;
  .date {
    max-width: 35%;
  }
  .notes {
    width: 75%
  }
}

.lesson-list {
  margin-top: 20px;
  padding-left: 0px;
  .delete-student {
    margin-top: 7px;
  }
}

.enter-notes {
  height: 60px;
  width: 63%;
}

.lesson-dsc {
  margin-left: 15px;
}
