.lesson-list-background
  .container
    h3 {{student.name}}
.teacher-background
  .container
    .add-student-section.col-md-12
      h3 <i class="fa fa-user-plus"></i> Add Student
      p Keep track of your students and when you teach their asses
      form(class="form" ng-submit="teacher.addStudent()")
        .form-group
          input.form-control(type="text" name="name" placeholder="Enter Student Name" ng-model="teacher.student.name" required)
        .form-group
          input.form-control(type="text" name="day" placeholder="Lesson Day" ng-model="teacher.student.lessonDay")
        .form-group
          input.form-control(type="text" name="time" placeholder="Lesson Time" ng-model="teacher.student.lessonTime")
        button.btn.btn-default.main-btn(type="submit") Add New Student

    .left-side.col-md-8
      .student-list
        h4.list-header LESSONS
        .student-individual(ng-repeat="lesson in lesson.lessons | orderBy:'name'")
          h4.lesson-header
            a(href="/{{student._id}}/{{lesson._id") {{lesson.name}}
          button.btn.btn-danger.delete-student(type="submit" ng-submit="lesson.removeLesson()") <i class="fa fa-trash-o"></i>
          hr
