.lesson-list-background
  .container
    h3 Student Name Here {{student.name}}
.teacher-background
  .container
    .add-lesson-section.col-md-12
      h3 Add Lesson
      form(class="form" ng-submit="teacher.addLesson()")
        .form-group
          input.form-control.date(type="text" name="name" placeholder="Lesson Date" ng-model="teacher.lesson.date" required)
        .form-group
          input.form-control.notes(type="text" name="notes" placeholder="Notes" ng-model="teacher.lesson.notes")
        button.btn.btn-default.main-btn(type="submit") Add New Lesson

    .left-side.col-md-8
      .student-list
        h4.list-header LESSONS
        .student-individual(ng-repeat="lesson in lesson.lessons | orderBy:'name'")
          h4.lesson-header
            a(href="/{{student._id}}/{{lesson._id") {{lesson.name}}
          button.btn.btn-danger.delete-student(type="submit" ng-submit="lesson.removeLesson()") <i class="fa fa-trash-o"></i>
          hr
