.lesson-list-bkg
  .container
    h3 Student Name Here {{student.name}}
.add-lesson-bkg
  .container
    h3 <i class="fa fa-pencil-square-o"></i> Add Lesson
    .add-lesson-section.col-md-12
      form(class="form" ng-submit="lessonCtrl.addLesson()")
        .form-group
          input.form-control.date(type="date" name="name" placeholder="Lesson Date" ng-model="lessonCtrl.lesson.lessonDate" required)
        .form-group
          input.form-control.enter-notes(type="text" name="notes" placeholder="Notes" ng-model="lessonCtrl.lesson.lessonNotes")
        button.btn.btn-default.main-btn(type="submit") Add New Lesson
.lesson-list-background
  .container
    .left-side.col-md-8
      .lesson-list
        h4.list-header LESSONS
        .student-individual(ng-repeat="lessonItem in lessonCtrl.lessons | orderBy:'name'")
          button.btn.btn-danger.delete-student(type="submit" ng-submit="lessonItem.removeLesson()") <i class="fa fa-trash-o"></i>
          h4.lesson-header {{lessonItem.lessonDate | date:'M/d/yyyy'}}
            h5(a href="#" ng-model="collapsed" ng-click="collapsed=!collapsed") <i class="fa fa-plus-square-o"></i> See Description
            p(class="lesson-dsc" ng-show="collapsed") {{lessonItem.lessonNotes}}
          hr
