.login-background
  .container
    .register.col-md-6
      h2 Login
      p Already a user, get rockin!
      form(role='form', action="/login", method="post", style='max-width: 300px;')
        .form-group
            input.form-control(type='text', name="username", placeholder='Enter Username')
        .form-group
          input.form-control(type='password', name="password", placeholder='Password')
        button.btn.btn-default(type='submit') Submit
        &nbsp;
        a(href='/')
          button.btn.btn-primary(type="button") Cancel

    .login.col-md-6
      h2 Sign up today!
      h5 Get going right now!
      form(role='form', action="/register",method="post", style='max-width: 300px;')
        .form-group
            input.form-control(type='text', name="username", placeholder='Enter Username')
        .form-group
          input.form-control(type='password', name="password", placeholder='Password')
        button.btn.btn-default(type='submit') Submit
        &nbsp;
        a(href='/')
          button.btn.btn-primary(type="button") Cancel

