.login-background
  .container
    .teacher.login-box.col-md-6
      h2 Teachers
      p Teacher? Sign-up now to get started
      a(href="/api/auth/google") Sign In with Google
    .student.login-box.col-md-6
      h2 Students
      p Sign in with your Google account to start learning
      a(href="/auth/google") Sign In with Google
