.register-hero
  .container
    .col-md-2
    .col-md-8.hero-text
      h1.header-light All your lessons and all your students. All in one place.
      btn.btn.btn-primary.main-btn.hero(href="/#/register") Get Started Now
    .col-md-2
.register-background
  .container
    .register-exp.col-md-7
      .text-section
        h2 The Easy Way to Teach Lessons
        p Ever had a student walk and you can't remember who they are or what they're working on? Those embarrassing days are over! Lesson Portal is a simple, on-line solution for private lesson teachers. Keep track of students and lesson plans all in one place.
        h4.bullet <i class="fa fa-calendar-o"></i> Schedule With Ease
        h4.bullet <i class="fa fa-file-text-o"></i> Maintain Lesson Plans
        h4.bullet <i class="fa fa-check-square-o"></i> Track Student Progress
    .register-box.col-md-5
      h2 Register
      p Join TeacherTracker today!
      form(class="form" ng-submit="register.register()")
        .form-group
            input.form-control(type="text" name="username" placeholder="Enter Username" ng-model="register.info.username" required)
        .form-group
          input.form-control(type="password" name="password" placeholder="Password" ng-model="register.info.password" required)
        button.btn.btn-default.main-btn(type="submit") Submit
        a(href='/')
          button.btn.btn-primary.sec-btn(type="button") Cancel
        p.register-cta Already have an account?
          a.register-link(href="/#/login") Sign In Now

//- .icon-1
//-   .register-icon
//-     i(class="fa fa-calendar")
//-   .register-text
//-     h4 Schedule with ease
//- .icon-2
//-   .register-icon
//-     i(class="fa fa-pencil-square-o")
//-   .register-text
//-     h4 Maintain lesson plans
//- .icon-3
//-   .register-icon
//-     i(class="fa fa-bar-chart")
//-   .register-text
//-     h4 Manage student payments
