.login-background
  .container
    .register.col-md-6
      h2 Register
      p Get you an account!
      form(class="form" ng-submit="register()")
        .form-group
            input.form-control(class="form-conrol" type="text" name="username" placeholder="Enter Username" ng-model="registerForm.username" required)
        .form-group
          input.form-control(class="form-control" type="password" name="password" placeholder="Password" ng-model="registerForm.password" required)
        button.btn.btn-default(type="submit" ng-disabled="disabled") Submit
        a(href='/')
          button.btn.btn-primary(type="button") Cancel
