.teacher-nametag
  .container
    .hero-section(ng-model="getUser")
      h3 Welcome, {{teacher.user}}
.teacher-background
  .container
    .left-side.col-md-8
      .student-list
        h4.list-header STUDENTS
        .student-individual(ng-repeat="student in teacher.students | orderBy:'name'")
          h4.student-header
            a(href="/#/{{student._id}}") {{student.name}}
          p Lesson | {{student.lessonDay}}, {{student.lessonTime | date:'hh:mm a'}}
          button.btn.btn-danger.delete-student(type="submit" ng-submit="teacher.removeStudent()") <i class="fa fa-trash-o"></i>
          hr
    .add-student-section.col-md-4
      h3 <i class="fa fa-user-plus"></i> Add Student
      p Keep track of your students lessons and times
      form(class="form" ng-submit="teacher.addStudent()")
        .form-group
          input.form-control(type="text" name="name" placeholder="Student Name" ng-model="teacher.student.name" required)
        .form-group
          input.form-control(type="text" name="day" placeholder="Lesson Day" ng-model="teacher.student.lessonDay")
        .form-group
          input.form-control(type="time" name="time" placeholder="Lesson Time" ng-model="teacher.student.lessonTime")
        button.btn.btn-default.main-btn(type="submit") Add New Student
