.teacher-background
  .container
    .hero-section
      h3 Welcome, teacher!
    .student-list
      h5 Students

    hr
    .add-student-section
      h2 Add Student
      p Keep track of your students and when you teach their asses
      form(class="form" ng-submit="teacher.addStudent()")
        .form-group
          input.form-control(type="text" name="name" placeholder="Enter Student Name" ng-model="teacher.student.name" required)
        .form-group
          input.form-control(type="text" name="day" placeholder="Lesson Day" ng-model="teacher.student.lessonDay")
        .form-group
          input.form-control(type="text" name="time" placeholder="Lesson Time" ng-model="teacher.student.lessonTime")
      button.btn.btn-default(type="submit") Add New Student
    hr
