.teacher-nametag
  .container
    .hero-section
      h3 Welcome, teacher!
.teacher-background
  .container
    .left-side.col-md-8
      .student-list
        h4 Students
        hr
        .student-individual(ng-repeat="student in teacher.students | orderBy:'name'")
          h4.student-header {{student.name}}
          p {{student.lessonDay}} | {{student.lessonTime}}
          hr
    .add-student-section.col-md-4
      h3 Add Student
      p Keep track of your students and when you teach their asses
      form(class="form" ng-submit="teacher.addStudent()")
        .form-group
          input.form-control(type="text" name="name" placeholder="Enter Student Name" ng-model="teacher.student.name" required)
        .form-group
          input.form-control(type="text" name="day" placeholder="Lesson Day" ng-model="teacher.student.lessonDay")
        .form-group
          input.form-control(type="text" name="time" placeholder="Lesson Time" ng-model="teacher.student.lessonTime")
        button.btn.btn-default.main-btn(type="submit") Add New Student
