.teacher-background
  .container
    .hero-section
      h3 Welcome, teacher!
    .student-list
      h5 Students
      ul(ng-repeat='student in students')
        li {{student.name}}
          p {{student.lessonDay}} : {{student.lessonTime}}
    hr
    .add-student-section
      btn(class="btn btn-primary") Add New Student
    hr
