.lesson-background
  .container
    .lesson-header
      h2 Lesson Date
      p Lesson summary, oh yeah. Lesson summary, oh yeah. Lesson summary, oh yeah. Lesson summary, oh yeah. Lesson summary, oh yeah. Lesson summary, oh yeah.
    .comment-section
      h2 Comments
      .posted-comments
      .add-comment
        h3 Add a comment about the lesson
